<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1, user-scalable=no">
	<title>Ejemplo Bootstrap/Thymeleaft</title>
	<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
	<div th:insert="~{/layouts/header :: header}"></div>
	<div class="container">
	<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div> 
		<div class="row">
			<!-- CARDS -->
			<div th:each="medico:${medicos}" class="col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 th:text="${medico.nombre}" class="card-title"></h5>
						<a th:href="@{/medicos/verPacientes?idMedico={idMedico}(idMedico=${medico.id})}" class="btn btn-primary">Ver Pacientes</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>