<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1, user-scalable=no">
<title>Ejemplo Bootstrap/Thymeleaft</title>
<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
	<div th:insert="~{/layouts/header :: header}"></div>
	<div class="container">
		<div class="col-md-10">
			<div class="row">
				<div class="col-sm-4">
					<h5 class="label" th:text="${paciente.nombre} + ':  Medicos Atencion'"></h5>
				</div>
				<div class="col-sm-8" align="right">
					<form class="form-inline" th:action="@{/pacientes/agregarMedico}" method="post">
						<input type="hidden" class="form-control" id="numeroDocumento" name="numeroDocumento" th:value="${paciente.numeroDocumento}">
						<div class="input-group mb-3">
							<select id="idMedico" name="idMedico" class="custom-select">
								<option th:each="medico : ${medicos}" th:text="${medico.nombre}" th:value="${medico.id}" />
							</select>
							<div class="input-group-append">
								<button class="btn btn-secondary btn-sm" type="submit">Agregar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
		<div class="row">
			<!-- CARDS -->
			<div th:each="medico:${medicosPaciente}" class="col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 th:text="${medico.nombre}" class="card-title"></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>